.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  width: 2.5rem;
  height: 2.5rem;
  background-color: inherit;
  color: var(--icon-not-selected-color);
  // todo input related
  &.group-select {
    color: $purple;
  }
  &.group-select-alert {
    color: $red;
    scale: 1.1;
  }
  &.important {
    color: $orange;
  }
  &.important-button {
    color: var(--icon-not-selected-color);
  }
  &.important-button-selected {
    color: $orange;
  }
  &.selected {
  }
  &.add,

  // todo related
  &.done {
    color: $green;
  }
  &.remove {
    color: $red;
  }
  &.edit {
    color: var(--main-color);
  }
  &.update {
    color: $green;
    margin-right: 1rem;
  }
  &.cancel {
    margin-right: 1rem;
    color: $orange;
  }
  &.drag {
    color: $white;
  }
  // group selection on click
  &.selected {
    color: $green;
  }

  // todo sidebar
  &.group {
    color: $purple;
  }
}
