.icon {
  font-size: 2rem;
  background-color: inherit;
  border: none;
  transition: 0.2s ease-in-out;
  &:hover {
    scale: 1.1;
  }
  // todo input related
  &.group-select {
    color: $purple;
  }
  &.group-select-alert {
    color: $red;
    scale: 1.1;
  }
  &.important {
    color: $orange;
  }
  &.important-button {
    color: $white;
  }
  &.important-button-selected {
    color: $orange;
  }
  &.selected {
  }
  &.add,

  // todo related
  &.done {
    color: $green;
  }
  &.remove {
    color: $red;
  }
  &.edit {
    color: $white;
  }
  &.drag {
    color: $white;
  }
  // group selection on click
  &.selected {
    color: $green;
  }

  // todo sidebar
  &.group {
    color: $purple;
  }
}
