.links-list {
  grid-area: links;
  background-color: lighten($black, 2);
  border-radius: 2rem;
  padding: 1rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  .links-sections-container {
    padding: 1rem;
    .links-section-wrapper {
      .section-title-wrapper {
        display: flex;
        justify-content: left;
        align-items: center;
        color: $white;
        user-select: none;
        margin-bottom: 1rem;
        .section-button {
          position: relative;
          color: $white;
          background-color: inherit;
          width: 3rem;
          height: 3rem;
          border: none;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
        }
        &:hover {
          cursor: pointer;
        }

        h1 {
          font-size: 5rem;
          font-family: MontSerratBlack;
        }
      }
      .section-links-container {
        margin-left: 3rem;
        .link-wrapper {
          width: 100%;
          a {
            font-family: MontSerratExtraLight;
            text-decoration: none;
            color: $white;
            &:visited {
              color: $white;
            }
          }
        }
      }
    }
  }
}
