.links-list {
  grid-area: links;
  background-color: lighten($black, 2);
  border-radius: 2rem;
  padding: 1rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  .links-sections-container {
    padding: 1rem;
    .links-section-wrapper {
      .section-title-wrapper {
        display: flex;
        justify-content: left;
        align-items: center;
        color: $white;
        user-select: none;
        margin-bottom: 1rem;
        .section-button {
          position: relative;
          color: $white;
          background-color: inherit;
          width: 3rem;
          height: 3rem;
          border: none;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
        }
        h1 {
          text-shadow: 0.06rem 0 0.06rem $flickerRight,
            -0.125rem 0 0.06rem $flickerLeft;
          font-size: 5rem;
          letter-spacing: 0.1rem;
          font-family: MontSerratBlack;
          &:hover {
            cursor: pointer;
            color: darken($white, 20);
          }
          &.selected {
            color: darken($white, 20);
          }
          &.flicker {
            animation-duration: 0.01s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            &:hover {
              animation-name: text-flicker;
            }
          }
          @keyframes text-flicker {
            from {
              text-shadow: 1px 0 0 $flickerRight, -2px 0 0 $flickerLeft;
            }
            to {
              text-shadow: 2px 0.5px 2px $flickerRight,
                -1px -0.5px 2px $flickerLeft;
            }
          }
        }
      }
      .section-links-container {
        margin-left: 3rem;
        .link-wrapper {
          width: 100%;
          a {
            font-family: MontSerratExtraLight;
            font-size: 1.1rem;
            text-decoration: none;
            color: $white;
            transition: color ease-in-out;

            &:hover {
              animation: color-change 1s infinite;
              @keyframes color-change {
                0%,
                100% {
                  color: $flickerLeft;
                }
                50% {
                  color: $flickerRight;
                }
              }
            }
          }
        }
      }
    }
  }
}
