.settings {
  .window-wrapper {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    background-color: $dark;
    border: 5px solid $white;
    border-radius: 10px;
    z-index: 100;
    .settings-options-container {
      height: 2rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      .settings-title {
        font-size: 1.1rem;
        position: absolute;
        left: 0.25rem;
        top: 0.25rem;
      }
      .settings-options-wrapper {
        padding-bottom: 5px;
        width: 300px;
        display: flex;
        justify-content: space-between;
        .settings-option {
          font-size: 1.2rem;
          background-color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          &.selected {
            color: $red;
            font-family: MontSerratBlack;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
      .close-button-wrapper {
        position: absolute;
        top: 0.125rem;
        right: 0;
        .settings-close-button {
          background: none;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          .close-icon {
            color: $black;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
