.settings {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2.5vh 5vw;
  background-color: rgba(100, 100, 100, 0.6);
  z-index: 100;

  .settings-wrapper {
    position: relative;
    width: 90vw;
    height: 95vh;
    background-color: var(--settings-bg-color);
    border: 5px solid var(--settings-border-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .settings-options-container {
      height: 2rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--settings-border-color);
      .settings-title {
        color: var(--contrast-text-color);
        font-size: 1.1rem;
        position: absolute;
        left: 0.25rem;
        top: 0.25rem;
      }
      .settings-options-wrapper {
        padding-bottom: 5px;
        width: 300px;
        display: flex;
        justify-content: space-between;
        .settings-option {
          color: var(--contrast-text-color);
          font-size: 1.2rem;
          background-color: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          &.selected {
            font-family: MontSerratBlack;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
      .close-button-wrapper {
        position: absolute;
        top: 0.125rem;
        right: 0;
        .settings-close-button {
          background: none;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 10px;
          .close-icon {
            color: var(--close-settings-btn-color);
            font-size: 1rem;
          }
        }
      }
    }
    .setting-area {
      display: grid;
      grid-template-areas: "setting-area" "buttons-area";
      grid-template-rows: 9fr 1fr;
      row-gap: 1rem;
      position: relative;
      min-height: 100%;
      max-height: 100%;
      padding: 2rem;
      .links-editor-wrapper {
        grid-area: setting-area;
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
        .links-editor {
          color: var(--settings-text-color);
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          border: 1px solid var(--main-text-color);
          &::-webkit-scrollbar {
            width: 8px;
            background-color: var(--scrollbar-bg-color);
            border-radius: 100px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: var(--scrollbar-thumb-color);
            border-radius: 100px;
          }
          scrollbar-color: var(--scrollbar-thumb-color)
            var(--scrollbar-bg-color);
          scrollbar-width: thin;
          resize: none;
          z-index: -2;
          font-size: 1.1rem;
          outline: none;
          background-color: inherit;
        }
      }
      .theme-settings-wrapper {
        color: var(--settings-text-color);
        grid-area: setting-area;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 40px;
        &::-webkit-scrollbar {
          width: 8px;
          background-color: var(--scrollbar-bg-color);
          border-radius: 100px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: var(--scrollbar-thumb-color);
          border-radius: 100px;
        }
        scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
        scrollbar-width: thin;
        .theme-option-wrapper {
          padding: 1rem;
          flex: 0 0 calc(50%);
          display: flex;
          justify-content: space-around;
          align-items: center;
          .theme-preview-wrapper {
            position: relative;
            width: 700px;
            height: 338px;
            border-radius: 20px;
            overflow: hidden;
            img {
              position: absolute;
              width: 700px;
              z-index: 1;
              &:hover {
                cursor: pointer;
              }
              &.selected {
                &:hover {
                  cursor: default;
                }
              }
            }
            .skeleton-image {
              position: absolute;
              background-color: var(--skeleton-image-loading-color);
              width: 100%;
              height: 100%;
              pointer-events: none;
              z-index: 2;
            }
          }
          .theme-button {
          }
        }
      }
      .searchbar-settings-wrapper {
        color: var(--main-text-color);
        grid-area: setting-area;
        display: grid;
        font-size: 1.2rem;
        font-family: MontSerrat;
        grid-template-areas: "forward" "forward";
        grid-template-columns: 1fr;
        row-gap: 2rem;
        grid-template-rows: 1.5fr 9fr;
        .separator {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .searchbar-settings-forward-search-container {
          grid-area: forward;
          display: grid;
          grid-template-areas: "title ." "input ." "values values";
          grid-template-columns: 1fr 1fr;
          column-gap: 1rem;
          grid-template-rows: minmax(0, 30px) minmax(0, 60px) minmax(0, 400px);
          row-gap: 2rem;
          .forward-search-input-container {
            grid-area: input;
            display: grid;
            grid-template-columns: 2fr 1fr 2.5fr 0.5fr;
            padding-left: 3rem;
            .forward-search-input {
              outline: none;
              color: var(--settings-text-color);
              background-color: inherit;
              border: 1px solid var(--settings-border-color);
              font-family: MontSerrat;
              padding: 0 1rem;
              &::placeholder {
                color: var(--fs-input-placeholder);
              }
            }
          }
          .forward-search-values-container {
            grid-area: values;
            font-family: MontSerratExtraLight;
            display: flex;
            align-content: flex-start;
            flex-wrap: wrap;
            overflow-y: scroll;
            color: var(--settings-text-color);
            &::-webkit-scrollbar {
              width: 8px;
              background-color: var(--scrollbar-bg-color);
              border-radius: 100px;
            }
            &::-webkit-scrollbar-thumb {
              background-color: var(--scrollbar-thumb-color);
              border-radius: 100px;
            }
            scrollbar-color: var(--scrollbar-thumb-color)
              var(--scrollbar-bg-color);
            scrollbar-width: thin;
            .forward-search-value-wrapper {
              height: 64px;
              flex: 0 0 calc(50% - 0.5rem);
              padding-left: 3rem;
              display: grid;
              grid-template-columns: 2fr 1fr 2.5fr 0.5fr;
              .search-value {
                display: flex;
                justify-content: left;
                align-items: center;
              }
              .destination-value {
                display: flex;
                justify-content: left;
                align-items: center;
              }
            }
          }
          .forward-search-button {
            color: var(--main-text-color);
            background-color: inherit;
            border: none;
            font-size: 1.2rem;

            &:disabled {
              color: var(--fs-plus-disabled);
              cursor: default;
            }
          }
        }
      }
      .buttons-container {
        grid-area: buttons-area;
        grid-row-start: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        .settings-button {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-family: MontSerrat;
          font-size: 1.1rem;
          width: 220px;
          height: 3rem;
          border-radius: 10px;
          background-color: var(--settings-btn-bg-color);
          color: var(--contrast-text-color);
          transition: background-color 0.2s ease-in-out;
          &:hover {
            background-color: var(--settings-btn-hover-bg-color);
          }
          .settings-button-icon {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
