.start-page {
  display: grid;
  grid-template-areas: "navbar navbar" "links todo" "searchbar searchbar";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 85vh 10vh;
  column-gap: 1rem;
  padding: 0 2rem;
  .navbar {
    grid-area: navbar;
    padding: 4px;
    display: flex;
    justify-content: right;
    align-items: center;

    .settings-button {
      color: var(--settings-open-btn-color);
      background-color: inherit;
      border: none;
      .settings-icon {
        font-size: 1.5rem;
        transition: 0.3s ease-in-out;
        &:hover {
          cursor: pointer;
          color: var(--settings-open-btn-hover-color);
        }
      }
    }
  }
}
