.todo-list {
  grid-area: todo;
  position: relative;
  display: grid;
  grid-template-areas: "todo-input todo-input" "todo-content todo-selection";
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 9fr 1fr;
  background-color: var(--widget-bg-color);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  padding-bottom: 2rem;

  @media (max-width: 1366px) {
    height: fit-content;
    width: 90%;
    transform: translateX(5%);
    margin-bottom: 6rem;
    height: 80vh;

    @media (max-width: 425px) {
      margin-bottom: 2rem;
    }
  }
  .todo-input-container {
    grid-area: todo-input;
    display: flex;
    justify-content: space-between;
    .todo-input-wrapper {
      .todo-input {
        position: relative;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
        grid-area: input;
        background-color: inherit;
        font-size: 2rem;
        color: var(--main-text-color);
        font-family: "MontSerratBlack";
        padding: 1rem;
        padding-left: 0;
        margin: 0 2rem;
        border: none;
        border-bottom: 1px solid var(--input-highlight);
        transition: border-bottom 0.2s ease-in-out;
        width: 100%;
        &:focus {
          outline: none;
          border-bottom: 1px solid var(--input-highlight-focus);
        }
        &::placeholder {
          color: var(--input-placeholder);
        }
        &.alert {
          border-bottom: 1px solid $red;
        }
      }
    }
    .todo-buttons-container {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      .todo-button-wrapper {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        &.add {
          grid-area: add;
          color: #00c853;
        }
        &.select-group {
          grid-area: select-group;
          position: relative;
          color: $purple;
          .group-selection-wrapper {
            position: absolute;
            z-index: 50;
            top: -20px;
            left: -50px;
            width: calc(100% + 40px);
            .group-selection-container {
              position: relative;
              width: 100%;
              height: 100%;
              border-radius: 10px;
              padding: 1rem;
              background-color: var(--group-selection-bg-color);
              display: grid;
              .group-item-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4.5rem;
                height: 4rem;

                border: none;
              }
              .group-selection-close-button {
                color: var(--group-selection-close-btn-color);
                position: absolute;
                font-size: 1rem;
                top: 5px;
                right: 5px;
                border: none;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
  .groups-sidebar {
    grid-area: todo-selection;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    padding-top: 1rem;
    .groups-sidebar-options-container {
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 8px;
        background-color: var(--scrollbar-bg-color);
        border-radius: 100px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
        border-radius: 100px;
      }
      scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
      scrollbar-width: thin;
      height: 28rem;
      .groups-sidebar-option-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        .groups-sidebar-option {
          font-size: 2rem;
          color: $purple;
        }
      }
    }
    .groups-sidebar-history-options-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .groups-sidebar-history-option-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        &:last-of-type {
          margin-bottom: 0;
        }
        .groups.sidebar-history-option {
          font-size: 2rem;
          color: $purple;
        }
      }
    }
  }
  .todos-container {
    grid-area: todo-content;
    overflow-y: scroll;
    padding: 1rem;
    padding-right: 0;
    &::-webkit-scrollbar {
      width: 8px;
      background-color: var(--scrollbar-bg-color);
      border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color);
      border-radius: 100px;
    }
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
    scrollbar-width: thin;
    scrollbar-track-color: darken($white, 40);
    .todo-row {
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 1rem;
      padding-right: 0;
      min-height: 100px;
      .todo-description-wrapper {
        background-color: var(--widget-bg-color);
        color: var(--main-text-color);
        width: 70%;
        min-height: 4rem;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        overflow-wrap: break-word;
        line-height: 1.3rem;
        margin-right: 1rem;
        box-shadow: var(--box-shadow);
        &.grab {
          &:hover {
            cursor: grab;
          }
        }
        p {
          white-space: pre-wrap;
          word-wrap: break-word;
        }
        &.update {
          &:focus-within {
            animation: move-border 1s infinite linear;
          }
          background-position: left top, right bottom, left bottom, right top;
          &:hover {
            animation: move-border 1s infinite linear;
          }
          @keyframes move-border {
            0% {
              background-position: left top, right bottom, left bottom,
                right top;
            }
            100% {
              background-position: left 25px top, right 25px bottom,
                left bottom 25px, right top 25px;
            }
          }
        }
        .update-input-wrapper {
          width: 100%;
          .update-input {
            font-family: "MontSerrat";
            padding: 0.5rem 0;
            width: 100%;
            height: 100px;
            color: var(--main-text-color);
            font-size: 1rem;
            background-color: var(--todo-description-bg-color);
            border: none;
            resize: vertical;
            &::-webkit-scrollbar {
              width: 8px;
              background-color: var(--scrollbar-bg-color);
              border-radius: 100px;
            }
            &::-webkit-scrollbar-thumb {
              background-color: var(--scrollbar-thumb-color);
              border-radius: 100px;
            }
            scrollbar-color: var(--scrollbar-thumb-color)
              var(--scrollbar-bg-color);
            scrollbar-width: thin;

            border-bottom: 1px solid var(--input-highlight);
            transition: border-bottom 0.2s ease-in-out;
            &:focus {
              outline: none;
              border-bottom: 1px solid var(--input-highlight-focus);
            }
            &::placeholder {
              color: $gray;
            }
            &.alert {
              border-bottom: 1px solid $red;
            }
          }
        }
      }
      .todo-actions-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .update-actions-container {
        width: 30%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 0 1rem;
      }
      .history-todo-actions-container {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1rem;
      }
    }
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}
